<%= form_with model: @gender do |form| %>
  <div>
    <%= form.label :description, 'Nome:' %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit 'Salvar' %>
  </div>
<% end %>